[Unit]
Description=A dummy HTTP server

[Service]
ExecStart=/usr/local/bin/dummy-server
EnvironmentFile=/etc/default/dummy-server

User={{ dummy.user }}
Group={{ dummy.group }}
WorkingDirectory={{ dummy.home }}

[Install]
WantedBy=multi-user.target
